doctype html
html(lang="en")
  head
    title Page title
    link(rel='stylesheet', href='css/main.css')
    script(src='js/vendor.js')
    script(src='js/main.bundle.js')

  body
    header
      .logo
      nav
        ul
          li
            a Home
          li
            a Contact

    section
      h1 Jade - node template engine

    footer
